<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Pilot PJT1 | Recommend Channel-Telegram Alert Service</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<div class="keyword-wrapper">
    <div class="keyword-box">
        <div class="keyword-box__title">
            <span>Keyword 목록</span>
        </div>
        <div class="keyword-box__content">
            <div class="keyword-box__content__keyword">
                <span>키워드_1</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
            <div class="keyword-box__content__keyword">
                <span>키워드_2</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
        </div>
    </div>

    <div class="keyword-box ">
        <div class="keyword-box__title">
            <span>추천 채널</span>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="keyword-box__wrapper">
            <div class="keyword-box__channel-wrapper">
                <div class="keyword-box__channel-wrapper__channel-name">
                    <span>channel_1</span>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                <div class="keyword-box__channel-wrapper___detail">
                    #관련 내용##
                </div>
            </div>
            <div class="keyword-box__channel-wrapper">
                <div class="keyword-box__channel-wrapper__channel-name">
                    <span>channel_2</span>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                <div class="keyword-box__channel-wrapper___detail">
                    #관련 내용##
                </div>
            </div>
            <div class="keyword-box__channel-wrapper">
                <div class="keyword-box__channel-wrapper__channel-name">
                    <span>channel_3</span>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                <div class="keyword-box__channel-wrapper___detail">
                    #관련 내용##
                </div>
            </div>
        </div>

    </div>

    <div class="keyword-box ">
        <div class="keyword-box__title">
            <span>채널 추가</span>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="keyword-box__content">
            <div class="keyword-box__content__keyword">
                <span>채널명_1</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
            <div class="keyword-box__content__keyword">
                <span>채널명_2</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/f776a02de8.js" crossorigin="anonymous"></script>
</body>
</html>