<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Pilot PJT1 | Channel-Telegram Alert Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
<div class="control-box">
    <div class="control-panel">
        <div class="control-panel__title">
            <span>등록된 채널</span>
            <a herf="#">
                <i class="fa-solid fa-rotate-right"></i>
            </a>
        </div>
        <div class="control-panel__content">
            <div class="control-panel__content__channel">
                <span>채널명_1</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
            <div class="control-panel__content__channel">
                <span>채널명_2</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
        </div>
    </div>

    <div class="control-panel fixed-keyword">
        <div class="control-panel__title">
            <span>Fixed Keyword</span>
            <a herf="#">
                <i class="fa-solid fa-rotate-right"></i>
            </a>
        </div>
        <div class="control-panel__content">
            <div class="control-panel__content__channel">
                <span>채널명_1</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
            <div class="control-panel__content__channel">
                <span>채널명_2</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
        </div>
    </div>

    <div class="control-panel dynamic-keyword">
        <div class="control-panel__title">
            <span>Dynamic Keyword</span>
<!--            <i class="fa-solid fa-rotate-right"></i>-->
        </div>
        <div class="control-panel__content">
            <div class="control-panel__content__channel">
                <span>채널명_1</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
            <div class="control-panel__content__channel">
                <span>채널명_2</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
        </div>
    </div>

    <div class="control-panel ">
        <div class="control-panel__title">
            <span>채널 추가</span>
            <a herf="#">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <div class="control-panel__content">
            <div class="control-panel__content__channel">
                <span>채널명_1</span>
            </div>
            <div class="control-panel__content__channel">
                <span>채널명_2</span>
            </div>
        </div>
    </div>

    <div class="control-panel ">
        <div class="control-panel__title">
            <span>검색 Keyword 추가</span>
            <a herf="#">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <div class="control-panel__content">
            <div class="control-panel__content__channel">
                <span>채널명_1</span>
            </div>
            <div class="control-panel__content__channel">
                <span>채널명_2</span>
            </div>
        </div>
    </div>

    <div class="control-panel ">
        <div class="control-panel__title">
            <a href='/recommend_channel'> <span>채널 추천 / 다음</span> </a>
            <i class="fa-solid fa-rotate-right" ></i>
        </div>
        <div class="control-panel__content">
            <div class="control-panel__content__channel">
                <span>채널명_1</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
            <div class="control-panel__content__channel">
                <span>채널명_2</span>
                <i class="fa-solid fa-circle-check"></i>
                <!--      <i class="fa-solid fa-circle-xmark"></i>-->
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/f776a02de8.js" crossorigin="anonymous"></script>
</body>
</html>